{% extends 'base.html' %}

{% block content %}
<h1><center>Welcome to my password generator!</center></h1>

<form method="POST">
    <div class="form-group">
        <label for="password">Password</label>

        {% with passwords = get_flashed_messages() %}
            {% if passwords %}
                {% for password in passwords %}                
                    <input type="text" class="form-control" id="password" value="{{password}}" readonly>                     
                {% endfor %}
                <button class="btn generate" type="button" onclick="copyToClipboard('#password')" id="generate">Copy Password</button>
            {% else %}
                <input type="text" class="form-control" id="password"  readonly>
            {% endif %}
        {% endwith %}
    </div>
    <div class="form-group">
        <label for="length">Enter password length</label>
        <input type="text" class="form-control" id="length"  value="13" name="length">
    </div>

    <button class="btn generate" type="submit" id="generate">Generate Password</button>
</form>
<div class="footer">
    <center>Source code: <a href="https://github.com/slowthisbirddown/PasswordGenerator">GitHub</a></center>
    <center>Wifi Security Explained: <a href="https://www.freecodecamp.org/news/wifi-security-explained/">FreeCodeCamp</a></center>
</div>

<script>
function copyToClipboard(element) {
    var copyPass = document.getElementById("password");
    copyPass.select();
    copyPass.setSelectionRange(0, 99999); /*For mobile devices*/    
    document.execCommand("copy"); /* Copy the text inside the text field */
}
</script>
{% endblock %}